body{

}

h1 {
    display: inline-block;
    width: 30%;
}
h3{
    display: inline-block;
    color:#1fa67b;
    width: 30%;
    margin: 20px 0;
}

.logout-container{
    display: inline-block;
    width: 69%;
    text-align:right;
}

.albumLink{
    text-decoration: none;
    color: #1fa67b;
}

.albumLink:hover{
    text-decoration: none;
    color: #19845E;
}

.button-container{
    display: inline-block;
    width: 69%;
    text-align: right;
    margin: 20px 0;
}

.button-container div{
    width: 25%;
    line-height: 2em;

}
.button-container div:hover{
    background-color: #19845E;
}
#btn-logout{
    color:#1fa67b;
    background-color: #fff;
    border: 2px solid #1fa67b;
    position: relative;
}

#btn-logout:hover{
    color:#fff;
    background-color: #1fa67b;
}
.albumList {
    display: inline-block;
    width: 20%;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
    height: 200px;
    background-color: lightgrey;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
}
.photoList{
    background-size: cover;
    display: inline-block;
    width: 20%;
    margin-top: 20px;
    margin-right: 30px;
    height: 200px;
    background-color: lightgrey;
    background-repeat: no-repeat;
    background-position: center; 
    cursor: pointer;
    position: relative;
}
.albumText{
    text-decoration: none;
    color: white;
    position: absolute;
    bottom:10px;
    left:10px;
    font-weight: bold;
    width: 80%;
    word-wrap: break-word;

}
.albumText:hover{
    text-shadow:  1px 0 black, 0 1px black;
}
.photoText{
    text-decoration: none;
    color: white;
    position: absolute;
    bottom:10px;
    left:10px;
    font-size: 130%;
}
.albumDescription{
    color:#686868;
}
.deleteIcon{
    position:absolute;
    max-width: 100%;
    right:10px;
    top:10px;
    display: none;
}

.deleteIcon img{
    -webkit-filter: grayscale(100%) opacity(40%);
    filter: grayscale(100%) opacity(40%);
}

.deleteIcon img:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

