{% extends "template/usermain.html" %}
{% block style %}
<link href="../css/lity.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../css/fresco/fresco.css"/>
<script type="text/javascript" src="../js/fresco/fresco.js"></script>

{% endblock %}
{% block content %}
<h3 style="display: inline-block;">
{% if OWNER == true %}
<a href="/home?redirected=True" class="albumLink">My Album</a> >
{% endif %}
 {{ ALBUM_NAME|e }}</h3>
{% if OWNER == true %}
<div class="button-container">
    <div id="btn-upload-photo" class="btn btn-custom btn-lg upload" data-toggle="modal" data-target="#uploadPhoto">
        <img style="width: 15%; margin-right: 5px;" src="../img/upload.png">
        Upload Photo
    </div> 
</div>
{% endif %}


<p class="albumDescription">{{DESCRIPTION|e}}</p>
<div  class="photoWrapper">
    {% for item in PHOTOS %}
        <div class="photoList" style="background-image: url('https://storage.googleapis.com{{item[1]}}');" onmouseenter="showDelete(this);" onmouseleave="hideDelete(this);"  >
            {% if OWNER == true %}
            <div class="deleteIcon">
                <img src="../img/delete-red.png" id="{{ item[1] }}(&-&){{ item[0]|e }}" class = "deleteImg" data-toggle="modal" data-target="#delete">
            </div>
            {% endif %}
            <a class="fresco photoText" href='https://storage.googleapis.com{{item[1]}}' data-fresco-group="photo" data-fresco-caption="{{ item[0]|e }}">
                <div style="position: absolute; bottom: 0px;">
                {{ item[0]|e }}
                </div>
            </a>
        </div>
    {% endfor %}
</div>

<!-- Delete modal -->
<div id="delete" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete the photo <span id="deletePhotoName"></span> ?</p>
        <form role="form" action="/delete" method="post">
            <div class="form-group">
                <input type="hidden" name="deleteTarget" id="deleteTarget" class="form-control" value="">
                <input type="hidden" name="fromAlbum" id ="targetAlbum" class="form-control" value="1">
            </div>
            <input type="submit" id="btn-submit" class="btn btn-danger" value="Delete">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

        </form>
      </div>
    </div>
    </div>
</div>
<!-- Delete modal ends -->
<!-- Upload modal -->
<div id="uploadPhoto" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h4>Upload Photo to {{ ALBUM_NAME }}</h4>
        <form role="form" action="/upload" method="post" enctype="multipart/form-data" id="photo-form" autocomplete="off">
            <div class="form-group">
                <label for="photoname" class="sr-only">Photo Name</label>
                <input type="photoname" name="photoname" id="photoname" class="form-control" placeholder="Photo Name">
            </div>
            <div class="form-group">
                <select class="form-control" id="albumSelection" name="albumSelection" required>
                    <option value="{{ ALBUM_ID }}" selected>{{ ALBUM_NAME }}</option>
                </select>
            </div>
            <div class="form-group">
                <input type="file" name="photo" accept="image/*">
            </div>
            <input type="submit" id="btn-submit" class="btn btn-custom btn-lg btn-block" value="Upload">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Upload modal ends -->
<script type="text/javascript">
    $(".deleteImg").click(function(e) {
        $('#delete').modal('toggle');
        var deleteTarget = $(e.target).attr('id');
        var photo_id = deleteTarget.slice(0, deleteTarget.indexOf('(&-&)'));
        console.log(photo_id)
        photo_id = photo_id.slice(photo_id.lastIndexOf('/')+1)
        $('#delete').find('#deleteTarget').val(photo_id);
        deleteTarget = deleteTarget.slice(deleteTarget.indexOf('(&-&)')+5, deleteTarget.length);
        console.log(deleteTarget);
        $('#delete').find('#deletePhotoName').html(deleteTarget);
        $(".deleteImg").parent().click(function(ev) {
            ev.stopPropagation();
        });
    });

</script>
<script src="../js/lity.min.js"></script>
<script type="text/javascript">
    
</script>
{% endblock %}
