<!DOCTYPE html>
<html>
<head>
    <title>{{ TITLE }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    {% block style %}
    {% endblock %}
</head>
{% block content %}
<body>
<header>
    
    <br>
    <h3>My Album{{ ALBUM_NAME|e }}</h3>
    {% if LOGGEDIN == true %}
    <div class="button-container">
        <div id="btn-upload-photo" class="btn btn-custom btn-lg upload" data-toggle="modal" data-target="#uploadPhoto">
            <img style="width: 15%; margin-right: 5px;" src="../img/upload.png">
            Upload Photo
        </div> 
        <div id="btn-create-album" class="btn btn-custom btn-lg upload" data-toggle="modal" data-target="#createAlbum">
            <img style="width: 10%; margin-right: 5px;" src="../img/add.png">
        Create Album</div>
    </div>
    
    {% endif %}
</header>



<div id="createAlbum" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h4>Create a New Album</h4>
        <form role="form" action="/create" method="post" id="album-form" autocomplete="off">
            <div class="form-group">
                <label for="albumname" class="sr-only">Album Name</label>
                <input type="albumname" name="albumname" id="albumname" class="form-control" placeholder="Album Name" required>
            </div>
            <div class="form-group">
                <label for="description" class="sr-only">Description</label>
                <textarea type="text" name="description" id="description" rows = 3 class="form-control" placeholder="What this album is about?"></textarea>
            </div>
            <input type="submit" id="btn-submit" class="btn btn-custom btn-lg btn-block" value="Create">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



<div id="uploadPhoto" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h4>Upload Photo</h4>
        <form role="form" action="/upload" method="post" enctype="multipart/form-data" id="photo-form" autocomplete="off">
            <div class="form-group">
                <label for="photoname" class="sr-only">Photo Name</label>
                <input type="photoname" name="photoname" id="photoname" class="form-control" placeholder="Photo Name">
            </div>
            <div class="form-group">
                <label for="albumSelection" class="sr-only">Choose an Album</label>
                <select class="form-control" id="albumSelection" name="albumSelection" required>
                    {% for item in ALBUMS %}
                        <option value="{{ item [0] }}">{{ item[1]|e }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input type="file" name="photo" accept="image/*">
            </div>
            <input type="submit" id="btn-submit" class="btn btn-custom btn-lg btn-block" value="Upload">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<section>
    {% for item in ALBUMS %}
        <div class="albumList" style="background-image: url('https://storage.googleapis.com{{item[2]}}');" onclick="location.href= 'album/{{ item[0] }}?redirected=True'">
            <div class="deleteIcon">
                <img src="../img/delete-red.png">
            </div>
            <div class="albumText">
                {{ item[1]|e }}
                <br>
                <span style="font-weight: normal;">{{ item[3] }} Photo{{ item[4] }}</span>
            </div>
        </div>
    {% endfor %}
    
</section>
</body>
{% endblock %}

</html>